{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<center><h3>Latest Posts</h3></center>
	</div>

	<div class="row">
		{% autoescape false %}
			<ul class="list-group">
				{% for post in posts %}
					<li class="list-group-item">
		           		<p> {{post.body}}</p>
			           	<p> By: {{post.author.first_name}}</p>
			           	<p> Time: {{post.timestamp}}</p>
					</li>
			    {% endfor %}
		{% endautoescape %}
	</div>
	
	<div class="row">
		<center><h3>Add New Post</h3></center>
	</div>
    
    <form method="POST">
    	<div class="row">
			<center>
				<textarea rows="4" cols="50" id="body" name="body" placeholder="What do you think?"></textarea>
			</center>
		</div>
		<div class="row">
			<center>
				<button type="submit" class="btn btn-success green">Add Comment</button>
			</center>
		</div>
	</form>
</div>
{% endblock %}