{% extends "base.html" %}
{% block content %}
<div class="container">
    <center>
        <form action="" method="POST" class="form-horizontal">
            <div class="row">
                <h2>Log In</h2>
            </div>
            <div class="row">
                <input type="text" id="email" name="email" class="input-xlarge" placeholder="Enter Email">
            </div>
            <div class="row">
                <input type="password" id="password" name="password" class="input-xlarge"
                placeholder="Enter Password">
            </div>
            <div>
                <button type="submit" class="btn btn-success">Signin</button>
            </div>
        </form>
    </center>
</div>

{% endblock %}