{% extends "base.html" %}
{% block content %}

<div class="container">
    <center>
        <form action="" method="POST" class="form-horizontal">
            <div class="row">
                <h2>Log In</h2>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class=flashes>
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <div class="row">
                <input type="text" id="email" name="email" class="input-xlarge" placeholder="Enter Email">
            </div>
            <div class="row">
                <input type="password" id="password" name="password" class="input-xlarge"
                placeholder="Enter Password">
            </div>
            <div>
                <button type="submit" class="btn btn-success">Signin</button>
            </div>
        </form>
    </center>
</div>

{% endblock %}