{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col">
			{% autoescape false %}
				<form method="GET">
				    <div class="input-group">
				    	<input type="text" id="search" name="search" class="form-control" placeholder="Movie's name..">
				    	<span class="input-group-btn">
				    		<button class="btn btn-secondary" type="submit">Go!</button>
				    	</span>
				    </div>
		    	</form>
			{% endautoescape %}
		</div>
	</div>
	<div class="row">
		<table class="table table-striped">
		    <thead>
		    	<tr>
			        <th>Title</th>
			        <th>Rated</th>
			        <th>Rating</th>
			        <th>Genres</th>
			        <th>Year</th>
		    	</tr>
		    </thead>
		    <tbody>
		    	{% for movie in movies %}
			    	<tr>
			    		{%if movie.id > -1 %}
				        	<td><a href="/movies/{{movie.id}}">{{movie.title}}</a></td>
				        {% else %}
				        	<td>{{movie.title}}</td>
				        {% endif %}
				        <td>{{movie.rating}}</td>
				        <td>{{movie.genre}}</td>
				        <td>{{movie.rated}}</td>
				        <td>{{movie.year}}</td>
			    	</tr>
		    	{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}