{% extends "base.html" %}
{% block content %}
<div class="container">
    <center>
        <form action="" method="POST" class="form-horizontal">
            <div class="row">
                <h2>Sign Up Now!</h2>
            </div>
            <div class="row">
                <input type="text" id="first" name="first" placeholder="Enter First Name" required>
            </div>
            <div class="row">
                <input type="text" id="last" name="last" placeholder="Enter Last Name" required>
            </div>
            <div class="row">
                <input type="text" id="email" name="email" placeholder="Enter Email" required>
            </div>
            <div class="row">
                <input type="text" id="password" name="password" placeholder="Enter Password" required>
            </div>
            <div>
                <button type="submit" class="btn btn-success">Register</button>
            </div>
        </form>
    </center>
</div>
{% endblock %}